{% extends "base.html" %}
{% block title %}{% endblock title %}

{% block body %}
<!-- about -->
<section class="about" id="about">
    <div class="container">
      <div class="about-content">
        <div>
          <img src="https://source.unsplash.com/600x400/?computer"  alt="">
          {% comment %} <img src="/static/images/about-bg.jpg" alt=""> {% endcomment %}
        </div>
        <div class="about-text">
          <div class="title">
            <h2>Arjit Shukla</h2>
            <p>Blog Donkey is my passion</p>
          </div>
          <p>Welcome to blogdonkey, your go-to destination for a wide range of informative and engaging content. Our mission is to provide valuable insights, entertainment, and knowledge on various topics that matter to you.!</p>
          <p>At blogdonkey, we are passionate about sharing our experiences, expertise, and stories with our readers. Our team of dedicated writers and contributors covers a diverse array of subjects, from travel and lifestyle to technology and health. Whether you're looking for practical tips, thought-provoking articles, or just a good read, you'll find it here.!</p>
        </div>
      </div>
    </div>
  </section>
<!-- end of about -->
{% endblock body %}